* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
  
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1b2735;
}
  
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    background-color: #1b2735;
    justify-content: space-between;
    background-color: transparent;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: rgb(0, 225, 255);
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
}
  
header nav ul li a,
.socials ul li h3  {
     padding: 10px 15px;
     font-weight: lighter;
     font-size: 1.55vw;
     color: white;
}

header nav ul li a:hover {
    color: white;
    background: rgb(0, 225, 255);
    box-shadow: 0 0 10px rgb(0, 225, 255), 0 0 40px rgb(0, 225, 255), 0 0 80px rgb(0, 225, 255);
}
section {
    padding: 60px;
}
  
.hero {
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
  
.text {
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}
  
.color {
    color: rgb(0, 225, 255);
}
  
.about {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1d1d1d;
}
  
.flex-about div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
  
.about-title h2,
.projects-title h2,
.contact h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 225, 255);
}
  
.flex-about img {
    width: 30%;
}
  
.flex-about p,
.projects p
{
    line-height: 1.7;
    color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
  
.projects {
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1b2735;
}
  
  
.pre-work {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
  
.pre-work-title h3 {
    color: white;
}
  
.flex-work {
    margin: 20px;
    flex: 1;
} 
  
.flex-work img {
    width: 50%;
}
  
.pre-work-title h3 {
    font-size: x-large;
}
  
.contact {
    height: 15vh;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1d1d1d;
}
  
  
.socials ul {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
  
footer {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1d1d1d;
}
  
.footnote {
    color: white;
}
  
.highlight {
    color: rgb(0, 225, 255);
}
    
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .flex-work {
      flex: 0 70%;
    }
}