* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #1b2735;
}


header {
   background-color: #1b2735;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   padding: 1%
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(0, 225, 255);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
}

header nav ul li a  {
    padding: 10px 15px;
    border-bottom: 3px solid transparent;
    color: white;
}



.hero {
    height: 100vh;
    background-image: url('../images/mclaren.jpg');
    background-size: cover;
    background-position: center;
}

.text {
    text-align: center;
    position: relative;
    color: white;
    top: 700px;
    font-weight: bolder;
    font-size: larger;
}

.color {
    color: rgb(0, 225, 255);
}

.about {
    height: 50vh;
}
.about-title h2 {
    text-align: center;
    text-decoration: underline;
    color: white;
    position: relative;
    top: 50px;
}

.about-title p {
    text-align: center;
    position: relative;
    top: 75px;
    color: white;
}

.work {
    height: 50vh;
}

.projects h2 {
    text-align: center;
    position: relative;
    top: 75px;
    color: white;
    text-decoration: underline;
}
.contact {
    height: 50vh;
}
.contact-title {
    text-align: center;
    position: relative;
    top: 100px;
    color: white;
    text-decoration: underline;
}




@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }
  