* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
   padding: 20px 35px;
   background-color: #36454f;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
}

header h1 a:hover {
    color: white;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: auto 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    text-decoration: underline;
}

header nav ul li a {
    padding: 10px 15px;
    border-bottom: 3px solid transparent;
}

header nav ul li a:hover {
    background-color: white;
}

.hero {
    height: 600px;
    background-image: url('../images/mclaren.jpg');
    background-size: cover;
    background-position: center;
}

.hero h2 {
    text-align: right;
    position: relative;
    top: 525px;
    right: 100px;
}